@page "/logout"

@inject AuthAPI AuthAPI

@attribute [AllowAnonymous]

<h3>Logout</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        if (await AuthAPI.VerificaAutenticado())
        {
            await AuthAPI.LogoutAsync();
        }
        await base.OnInitializedAsync();
    }
}
